 @model IEnumerable<StudentFileShare6.Models.UserSavedInfo>

<h1>收藏夹</h1>

<table class="table">
    <thead>
        <tr>
            <th>课程名</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.CourseID != null)
            {
                <tr>
                    <td class="hyperlink">
                        <a href="/Course/Courseview/?schoolName=@item.SchoolName&courseName=@item.CourseName&courseID=@item.CourseID" target="_blank">@item.CourseName</a>
                    </td>
                </tr>
            }
        }
    </tbody>

    <thead>
        <tr>
            <th>大学名</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.SchoolID != null)
            {
                <tr>
                    <td class="hyperlink">
                        <a href="/University/UniversityView/?schoolID=@item.SchoolID&schoolName=@item.SchoolName&schoolLocation=@item.University.Location" target="_blank">@item.SchoolName</a>
                    </td>
                </tr>
            }
        }
    </tbody>

    <thead>
        <tr>
            <th>文件名</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.DocumentID != null)
            {
                <tr>
                    <td class="hyperlink">
                        <a href="/Document/docview/@item.SchoolName/@item.CourseName/@item.DocumentName/@item.DocumentID" target="_blank">@item.DocumentName</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
