@page
@model StudentFileShare6.Areas.Identity.Pages.Account.Manage.UploadedDocumentsModel



@{
    ViewData["Title"] = "上传了的文件";
    ViewData["ActivePage"] = ManageNavPages.UploadedDocuments;
   
}
<a href="@Url.Content("/document/UserUploadedDocumentsPage")" target="_blank"> 转到您上传的文档</a>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
